.tools {
    background-color: lightslategray;
    left: 399px;
}

.tools span {
    color: #FFF;
}

body {
    padding: 0;
    margin: 0;
    color: #1C130E;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_pai {
    display: flex;
}

.container_picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    justify-content: space-around;
}

.container_pai img {
    height: 350px;
}

.container_texto {
    margin-top: 70px;
    width: 900px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    align-items: center;
}

.titulo img {
    width: 35px;
    height: 40px;
}

.titulo2 {
    display: flex;
    align-items: center;
}

.titulo2 img {
    width: 30px;
    height: 40px;
}

.text h1 {
    font-size: 45px;
}

.text h2 {
    margin-inline: 60px;
    font-size: 30px;
}

.text p {
    font-size: 22px;
}

.text li {
    font-size: 22px;
    margin-top: 15px;
    width: 500px;
    padding-right: 380px;
    text-align: start;
    padding-left: 10px;
}

.iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 10px;
}

.iframe .text1 {
    display: flex;
    flex-direction: column;
}

.iframe .text1 li {
    font-size: 17px;
    text-align:start;
}

.iframe .text ul li {
    font-size: 40px;
}

.iframe .text1 p {
    font-size: 18px;
}