body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/Burndown.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    left: 0;
    position: relative;
    transition: 1.5s;
}

.screen {
    width: 50vw;
    height: 100vh;
    background-color: black;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container_button_back {
    padding-right: 700px;
    padding-top: 15px;
    margin-bottom: -48px;
}

.button_back {
    background-color: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.arrow_left {
    margin-left: 3px;
    border: solid #000;
    border-width: 0 0 2px 2px;
    padding: 4px;
    transform: rotate(45deg);

}

h1 {
    font-size: 60px;
}

h2 {
    margin-top: 15vh;
    font-size: 40px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 430px;
}

.container_input_login {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

p {
    padding-left: 15px;
    margin-top: 20px;
    font-size: 18px;
}

.container_input_login input {
    padding-left: 15px;
    margin-top: -10px;
    width: 350px;
    height: 36px;
    background-color: transparent;
    border: solid white;
    border-radius: 5px;
    font-weight: bold;
    color: #FFF;
    outline: none;
}

.button_login {
    margin-top: 40px;
    background-color: #B0CDDA;
    width: 200px;
    height: 35px;
    border-radius: 40px;
    font-size: 20px;
    border: transparent;
    transition: 0.8s;
}

::placeholder {
    color: #EE675C;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.span {
    font-size: 17.5px;
    margin-top: 25px;
}

.span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: black;
    opacity: 45%;
}

.name .center {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    height: 400px;
}

#create .center {
    height: fit-content;
}

.container_input_create {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 60px;
    margin-bottom: 30px;
}

.container_input_create input {
    padding-left: 15px;
    margin-top: -10px;
    width: 350px;
    height: 25px;
    background-color: transparent;
    border: solid white;
    border-radius: 5px;
    font-weight: bold;
    color: #FFF;
    outline: none;
}

.button_create {
    background-color: #B0CDDA;
    width: 200px;
    height: 35px;
    transition: 0.8s;
    border: transparent;
    border-radius: 25px;
    font-size: 20px;
}