body {
    padding: 0;
    margin: 0;
    background-image: url('../assets/Burndown.jpeg');
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}

.center {
    margin-top: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container1 {
    width: 980px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    flex-wrap: wrap;
    display: flex;
}

.container2 {
    width: 980px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .question {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        color: #1C130E;
        font-size: 20px;

        p {
            text-align: center;
            font-size: 28px;
        }

        .second {
            display: flex;
            width: 700px;
            height: 60%;
            justify-content: center;
            margin-left: -70px;
        }
    }
}

.question {
    width: 50%;
    height: 50%;
    text-align: justify;
    color: #1C130E;
    font-size: 20px;

    p {
        text-align: center;
        font-size: 28px;
    }

    input {
        margin-left: 65px;
    }
}

.second {
    display: flex;
    height: 60%;
    align-items: center;

}