body {
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #FFF;
    overflow-x: hidden;
}

.tools {
    left: 395px;
}


.introduction {
    height: 730px;
    display: flex;
}

.introduction .picture {
    background-image: url(../assets/about1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    height: 100%;
}

.introduction .txt {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.introduction .txt h1 {
    margin-top: 100px;
    margin-left: 80px;
    font-size: 80px;
    margin-bottom: -1px;
}

.introduction .txt h2 {
    border-top: solid #EE675C 2px;
    margin-left: 80px;
    padding-top: 20px;
    font-size: 40px;
    color: #B0CDDA;
}

.introduction .txt p {
    margin-top: 40px;
    margin-left: 80px;
    font-size: 25px;
    margin-right: 200px;
    text-align: justify;
}

.central {
    background-color: #FFF;
    height: 730px;
    display: flex;
    align-items: center;
}

.central .txt {
    border-block: solid #EE675C 3px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    text-align: justify;
}

.central .txt p {
    margin-left: 100px;
    font-size: 25px;
    color: #1C130E;
}

.central .picture {
    background-image: url(../assets/about2.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
}

.favorite {
    height: 730px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    background-image: url(../assets/about3_top.jpg);
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;

    .favorite .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .favorite .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: #FFF;
        background-color: #1D1D1D;
        border-radius: 25px;
        width: 500px;
        height: 250px;

        .caixa {
            display: flex;
        }

        .caixa_texto {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                text-align: justify;
                padding-inline: 15px;
                font-size: 18px;
            }
        }

        .caixa_texto2_left {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;

            ul {
                padding-left: 25px;
                list-style: inside;
                margin-top: -8px;
            }

            li {
                text-align: start;
                font-size: 15px;
                margin-bottom: -5px;
            }
        }

        .caixa_texto2_right {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                padding-top: 40px;
                margin-top: -30px;
                margin-bottom: -10px;
            }

            p {
                text-align: justify;
                padding-inline: 15px;
                font-size: 18px;
            }
        }
    }
}

.tips {
    background-color: #FFF;
    height: 730px;
    display: flex;
}

.tips .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1C130E;
}

.tips .txt h1 {
    padding-left: 100px;
}

.tips .txt p {
    padding-left: 100px;
    border-block: solid #EE675C 3px;
    padding-block: 15px;
    width: 60vw;
    font-size: 22px;
    color: #1C130E;
    margin-right: 100px;
}

.tips .picture {
    background-image: url(../assets/guitarra2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 108%;
    width: 100%;
    display: flex;
}

.container_button {
    width: 55px;
    display: flex;
    align-items: center;
}

.arrow_right {
    margin-right: 3px;
    border: solid #000;
    border-width: 2px 2px 0 0;
    padding: 4px;
    transform: rotate(45deg);
}

.arrow_left {
    margin-left: 3px;
    border: solid #000;
    border-width: 2px 2px 0 0;
    padding: 4px;
    transform: rotate(225deg);
}

.videos button {
    border: transparent;
    background-color: FFF;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 730px;

    .names {
        display: flex;
        width: 100vw;
        justify-content: center;

        h4 {
            margin-inline: 80px;
        }
    }

    .container_videos {
        display: flex;
        width: 100vw;
        left: 0;
        position: relative;
        transition: 1s;

        .caixa {
            display: flex;
            width: 100vw;
            justify-content: space-around;
        }
    }
}