body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

.tools1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 95px;
    top: -100px;
    z-index: 2;
    left: 399px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 18px;
    background-color: #FFF;
    position: fixed;
    transition: 0.6s;

    a {
        text-decoration: none;
        color: #1C130E;
        font-size: 18px;
        pointer-events: none;
        margin-bottom: 5px;
        transition: 0.5s;
    }

    a:hover {
        transform: scale(1.05);
    }
}

.avisos {
    max-height: 750px;
    height: 750px;
    color: rgb(216, 216, 216);
    background-color: #1D1D1D;
}

.avisos .caixa {
    display: flex;
}

.avisos .container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 30px;
    border-left: solid #EE675C 1px;
    margin-right: 10px;
}

.avisos .container .div-form {
    width: 100%;
    display: flex;
}

.avisos .container .div-form #form_postagem {
    width: 95%;
}

.avisos .div-form label {
    width: 100%;
    margin-left: 10px;
}

.avisos .div-form textarea {
    margin-left: 10px;
    width: 100%;
    border: solid #B0CDDA 3px;
    color: #FFF;
    background-color: #1D1D1D;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
}

.avisos .div-form button {
    cursor: pointer;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #D8D8D8;
    background-color: #EE675C;
    width: 85px;
    height: 30px;
    margin-bottom: 40px;
    margin-left: 91%;
}

.avisos .container .div-editor {
    width: 100%;
    display: none;
}

.avisos .container .div-editor #form_editor {
    width: 95%;
}

.avisos .div-editor label {
    width: 100%;
    margin-left: 10px;
}

.avisos .div-editor textarea {
    margin-left: 10px;
    width: 100%;
    border: solid #EE675C 3px;
    color: #FFF;
    background-color: #1D1D1D;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
}

.avisos .div-editor .div-buttons {
    display: flex;
    justify-content: end;
}

.avisos .div-editor button {
    cursor: pointer;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #D8D8D8;
    background-color: #EE675C;
    width: 85px;
    height: 30px;
    margin-bottom: 40px;
}

.publicacao-btn-editar {
    cursor: pointer;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    color: #1D1D1D;
    background-color: #B0CDDA;
    width: 80px;
}

.publicacao {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-bottom: 3px solid #B0CDDA;
    padding: 20px;
    font-size: 20px;

    span {
        font-size: 25px;
    }

    .hora {
        font-size: 20px;
    }
}

.publicacao>*:not(:last-child) {
    padding: 0 0 10px 0;
}

.div-results {
    width: 100%;
    overflow-y: auto;
    max-height: 410px;

}

body::-webkit-scrollbar {
    display: none;
}

.div-results::-webkit-scrollbar {
    display: flex;
}

.div-results::-webkit-scrollbar-thumb {
    background-color: #B0CDDA;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFF;
}


.div-results .feed-container {
    border-radius: 5px;
    margin-bottom: 80px;
}

.div-buttons {
    display: flex;
    justify-content: flex-end;
}

.div-buttons>* {
    margin-left: 30px;
}

#footer {
    background-color: #1D1D1D;
}

select {
    width: fit-content;
    background-color: transparent;
    color: #D8D8D8;
    border: transparent;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    outline: none;

    option {
        background-color: #1D1D1D;
        border: transparent;
    }
}